<form>
    <mat-form-field class="example-full-width" appearance="fill">
        <label>Bussiness Address</label>
        <mat-select name="option">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="form-field" appearance="fill">
        <label>Telephone</label><br>
        <input matInput class="text-input" placeholder="5454 6000" >
      </mat-form-field><br>

      <table class="example-full-width-1" cellspacing="0"><tr>
        <td>
            <label>Authorisation</label><br><br>
            <button mat-raised-button class="btn-sign" ><mat-icon>person</mat-icon>  Sign</button>
        </td>
        <td><mat-form-field class="example-full-width">
          <label>Signature</label><br>
          <input matInput class="text-input-sign">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <label>Date</label><br>
          <input matInput type="date" class="input-date">
        </mat-form-field></td>
      </tr></table>
      <div class="example-container">
        <mat-form-field class="form-field" appearance="fill">
          <label>Given Names</label><br>
          <input matInput class="text-input" >
        </mat-form-field>
      
        <mat-form-field class="form-field" appearance="fill">
          <label>Family Name</label><br>
          <input matInput class="text-input">
        </mat-form-field>
      </div>

      <mat-form-field class="form-field" appearance="fill">
        <label>Designation</label><br>
        <input matInput class="text-input" >
      </mat-form-field><br>

      <mat-divider></mat-divider>
      <br>
    
      <div class="example-container">
        <mat-checkbox > Click here to display information relating to this form</mat-checkbox>
        <button mat-raised-button class="btn-cancel" ><mat-icon>close</mat-icon>  Cancel</button>
      </div>
      <br>
<mat-divider></mat-divider>
</form>