<form>
  <div class="example-container">
      <mat-form-field appearance="fill">
        <label>CPDMR ID</label><br><br>
        <input matInput placeholder="P00007837">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <label>FORM ID</label><br><br>
        <input matInput class="example-right-align">
      </mat-form-field>
    </div>

  <div class="example-container">
      <mat-form-field appearance="fill">
        <label>BH UR No</label><br><br>
        <input matInput placeholder="BH-">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <label>MH UR No</label><br><br>
        <input matInput class="example-right-align" placeholder="dsdsf">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <label>Surname</label><br><br>
        <input matInput placeholder="Sunjaya">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <label>Given Names</label><br><br>
        <input matInput class="example-right-align" placeholder="">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <label>Date of Birth</label><br><br>
        <input matInput placeholder="08/01/2017">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <label>Sex</label><br><br>
        <input matInput class="example-right-align" placeholder="Male">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill" class="example-full-width">
        <label>Episode Date</label><br><br>
        <input matInput>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <label>Team</label><br><br>
        <input matInput class="example-right-align">
      </mat-form-field>
    </div>
    <div class="example-container">
      <button mat-raised-button ><mat-icon>bookmark_border</mat-icon>  Set Episode</button>
          <input type="checkbox" class=".check-example-right-align"/>
            Click here to verify the Patient details
          
    </div>
</form><br>