<form [formGroup]="firstForm" (ngSubmit)="formUSer()">
  <div class="example-container">
      <mat-form-field appearance="fill">
        <label>CPDMR ID</label><br><br>
        <input type = "text" matInput placeholder="P00007837" formControlName="CPDMR_ID"> 
        <span *ngif="CPDMR_ID && CPDMR_ID.invalid"></span>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <label>FORM ID</label><br><br>
        <input type ="text" matInput class="example-right-align" formControlName="FORM_ID">
      </mat-form-field>
    </div>

  <div class="example-container">
      <mat-form-field appearance="fill">
        <label>BH UR No</label><br><br>
        <input type="text" matInput placeholder="BH-" formControlName="BH_UR_NO"> 
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <label>MH UR No</label><br><br>
        <input type="text" matInput class="example-right-align" placeholder="dsdsf" formControlName="MH_UR_NO">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <label>Surname</label><br><br>
        <input type="text" matInput placeholder="Sunjaya" formControlName="surName">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <label>Given names</label><br><br>
        <input type="text" matInput placeholder="" formControlName="givenName">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <label>Date of Birth</label><br><br>
        <input type = "date" matInput placeholder="08/01/2017" formControlName="DOB">
      </mat-form-field>
    
           <mat-form-field appearance="fill">
        <label>Sex</label><br><br>
        <input type = "text" matInput class="example-right-align" placeholder="Male" formControlName="Sex">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <label>Episode Date</label><br><br>
        <input type="text" matInput  class="example-full-width" formControlName="episodeDate">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <label>Team</label><br><br>
        <input type="text" matInput class="example-right-align" formControlName="Team">
      </mat-form-field>
    </div>
    <div class="example-container">
      <button mat-raised-button ><mat-icon>bookmark_border</mat-icon>  Set Episode</button>
          <input type="checkbox" class=".check-example-right-align"/>
            Click here to verify the Patient details
          
    </div>
</form><br>